{% extends "base.html" %}

{% block head %}
  <title>About</title>
{% endblock %}

{% block content %}

<div class="main-text-container">

  <h2>What's this site about?</h2>

  <p>
    This site is designed to provide a visual intuition for what a few common machine learning models do and how their parameters influence that behavior. All the models are implemented from scratch using numpy with the guiding principle to keep the implementation at the level of linear algebra, or in other words, no for loops allowed! <a href="https://github.com/adamtobey/ml-models">Check out the implementation on Github.</a>
  </p>

  <p>
  Check out the available plots in the navigation bar. Click on any plot to add a point and watch the model update accordingly. Some plots have sliders to adjust parameters, which will also update the model.
  </p>
</div>

{% endblock %}
