{% extends "base.html" %}

{% block head %}
  <title>About</title>
{% endblock %}

{% block content %}

<p>
  This website is an attempt to graphically demonstrate the properties of a few different basic machine learning models. I've implemented linear regression in both discriminitive and generative (Bayesian) varieties, logistic regression, and Gaussian process regression. Each model has a corresponding interactive plot that tries to show some intrinsic properties of that model as well as how its hyperparameters affect the family of functions it can represent, if applicable. To interact with the plots, simply click to add a point. For the multi-class plot for logistic regression, select the class of point to add with the buttons above the plot.
</p>

<p>
  For this project, I make heavy use of numpy and bokeh. The models are implemented from scratch with numpy. The plots are powered by bokeh. <a href="https://github.com/adamtobey/ml-models">Check out the implementation on Github.</a>
</p>

{% endblock %}
